.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  text-align: center;
}

.description h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.25rem;
  opacity: 0.8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  width: var(--max-width);
  gap: 2rem;
}

.card {
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  transition: background 200ms, border 200ms;
}

.card:hover {
  background: rgba(var(--card-rgb), 0.2);
  border: 1px solid rgba(var(--card-border-rgb), 0.3);
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}
